<% include ./../components/header %>
  <div class="main-content">
    <div id="map-container" class="main-map"></div>
    <div class="fangjia-city">
      <div class="fangjia-city-city">
        <span>北京</span>
        <span>上海</span>
        <span>深圳</span>
        <span>杭州</span>
        <span>广州</span>
        <span>厦门</span>
        <span>西安</span>
        <span>成都</span>
        <span>南京</span>
        <span>苏州</span>
        <span>合肥</span>
      </div>
      <div class="fangjia-city-tip">
        <div class="main-fl" style="padding-top: 2px;">
          <img src="http://data.lbs.aissues.com/tip.png" />
        </div>
        <div class="main-fl">Aissues.com从各网站获取招聘信息，进行相关的数据分析</div>
      </div>
    </div>
  </div>
  <style type="text/css">
    .fangjia-city {
      height: 65px;
      position: absolute;
      top: 20px;
      left: 25px;
      z-index: 4;
      background-color: #fff;
      padding-left: 15px;
      padding-right: 15px;
      box-shadow: 0 2px 4px #ddd;
      border: 1px solid #ddd;
    }

    .fangjia-city-city span {
      display: inline-block;
      height: 28px;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #ddd;
      line-height: 28px;
      min-width: 45px;
      text-align: center;
      cursor: pointer;
      margin-top: 8px;
    }

    .fangjia-city-city span:hover {
      background-color: #188FFF;
      color: #fff;
      border: 1px solid #188FFF;
    }

    .fangjia-city-tip {
      margin-top: 4px;
      font-size: 12px;
    }

    .fangjia-city-tip div {
      height: 18px;
    }

    .fangjia-city-tip img {
      width: 13px;
      margin-right: 3px;
    }
  </style>
  <script type="text/javascript" src="/js/weizhi/kuaiji.js"></script>
  <% include ./../components/footer %>