#map-container{
  position: absolute;
  top:78px;
  left:270px;
  right:14px;
  bottom: 14px;
  z-index: 999;
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}