<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title></title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=e8e163bb91ed3586ec81b84918e782ba&callback"></script>
</head>
<body>
  <% include ./h %>
  <% include ./menu %>
  