<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Modeling Our World</title>
  <meta name="description" content="Modeling Our World，用地图美学解释生活。">
  <meta name="keywords" content="Modeling Our World,地图之美,lbs,地理信息系统,GIS,遥感,3s,基于位置的服务,科研,地理信息科学,地理信息,GPS,RS">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=e8e163bb91ed3586ec81b84918e782ba"></script>
</head>
<body>
  <% include ./h %>
  <% include ./menu %>
  