<div class="menu">
  <div class="menu-logo">
    <div class="menu-logo-img">
      <img src="https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg" />
    </div>
    <div class="menu-name">Ant Design Pro</div>
  </div>
  <div style="width:100%;height:64px;"></div>
  <!--工作与LBS-->
  <div>
    <div class="menu-big">
      <span>行业.报告</span>
    </div>
    <ul class="menu-small">
      <li>001 | Dashboard</li>
      <li class="menu-active">002 | Dashboard</li>
      <li>003 | Dashboard</li>
      <li>004 | Dashboard</li>
      <li>005 | Dashboard</li>
    </ul>
  </div>
  <!--故事与LBS-->
  <div>
    <div class="menu-big">
      <span>位置.故事</span>
    </div>
    <ul class="menu-small">
      <li>001 | Dashboard</li>
      <li>002 | Dashboard</li>
      <li>003 | Dashboard</li>
      <li>004 | Dashboard</li>
      <li>005 | Dashboard</li>
    </ul>
  </div>
  <!--艺术与LBS-->
  <div>
    <div class="menu-big">
      <span>地图.艺术</span>
    </div>
    <ul class="menu-small">
      <li>001 | Dashboard</li>
      <li>002 | Dashboard</li>
      <li>003 | Dashboard</li>
    </ul>
  </div>
  <!--专业-->
  <div>
    <div class="menu-big">
      <span>开源.技术</span>
    </div>
    <ul class="menu-small">
      <li>001 | Dashboard</li>
      <li>002 | Dashboard</li>
    </ul>
  </div>
</div>
<style type="text/css">
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    bottom: 0;
    background-color: #00162B;
    overflow: scroll;
    -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }

  .menu-logo {
    height: 64px;
    background-color: #002140;
    line-height: 64px;
    position: fixed;
    width: 256px;
  }

  .menu-logo>div {
    display: inline-block;
  }

  .menu-logo-img img {
    height: 30px;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: -10px;
  }

  .menu-name {
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
  }

  .menu-big {
    height: 40px;
    background-color: #00152A;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
  }

  .menu-big img {
    height: 12px;
    margin-right: 3px;
    vertical-align: middle;
  }

  .menu-small {
    width: 256px;
    padding: 0;
    margin: 0;
  }

  .menu-small li {
    color: #A6AAAE;
    list-style: none;
    font-size: 14px;
    line-height: 35px;
    cursor: pointer;
    padding-left: 20px;
  }

  .menu-small li:hover {
    background-color: rgb(231, 239, 255);
    color: #000;
  }

  .menu-active {
    background: #188FFF;
    color: #fff !important;
  }
</style>