<div class="menu">
  <div class="menu-logo">
    <div class="menu-logo-img">
      <img src="http://data.lbs.aissues.com/lbs-logo.png" />
    </div>
    <div class="menu-name">Modeling Our World</div>
  </div>
  <div style="width:100%;height:64px;"></div>
  <!--行业报告-->
  <div>
    <div class="menu-big">
      <span>位置解读</span>
    </div>
    <ul class="menu-small">
      <li class="menu-weizhi-kuaiji">
        <a class="menu-weizhi-kuaiji-a" href="/">01| 会计工作人员生存报告</a>
      </li>
      <li>
        <a href="/">02| 金融从业者地理分布</a>
      </li>
      <li>
        <a href="/">03| 全国高校位置地图</a>
      </li>
      <li>
        <a href="/">04| 时令蔬果的空间的表达</a>
      </li>
      <li class="menu-weizhi-fangjia">
        <a class="menu-weizhi-fangjia-a" href="/weizhi/fangjia.html">05| 房价地图</a>
      </li>
    </ul>
  </div>
  <!--故事与LBS-->
  <div>
    <div class="menu-big">
      <span>图说故事</span>
    </div>
    <ul class="menu-small">
      <li>01| 旅行足迹</li>
      <li>02| 地图书签</li>
      <li>03| 水浒108将，108样风景</li>
      <li>04| 每天上班的擦肩而过</li>
      <li>05| 如何预判汽车到达时间</li>
    </ul>
  </div>
  <!--艺术与LBS-->
  <div>
    <div class="menu-big">
      <span>艺术世界</span>
    </div>
    <ul class="menu-small">
      <li>01| 地图之美</li>
      <li>02| 地图工艺</li>
      <li>03| 地图定制</li>
    </ul>
  </div>
  <!--专业-->
  <!-- <div>
    <div class="menu-big">
      <span>基础技术</span>
    </div>
    <ul class="menu-small">
      <li>01| OpenLayer</li>
      <li>02| Leaflet</li>
      <li>03| 高德地图</li>
      <li>04| Google地图</li>
    </ul>
  </div> -->
  <!--实验室-->
  <!-- <div>
    <div class="menu-big">
      <span>实验室</span>
    </div>
    <ul class="menu-small">
      <li>01| 高精度室内定位技术</li>
      <li>02| 3D Map</li>
      <li>03| AR/VR</li>
    </ul>
  </div> -->
</div>
<style type="text/css">
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    bottom: 0;
    background-color: #00162B;
    overflow: scroll;
    -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }

  .menu-logo {
    height: 64px;
    background-color: #002140;
    line-height: 64px;
    position: fixed;
    width: 256px;
  }

  .menu-logo>div {
    display: inline-block;
  }

  .menu-logo-img img {
    height: 30px;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: -10px;
  }

  .menu-name {
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
  }

  .menu-big {
    height: 40px;
    background-color: #00152A;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
  }

  .menu-big img {
    height: 12px;
    margin-right: 3px;
    vertical-align: middle;
  }

  .menu-small {
    width: 256px;
    padding: 0;
    margin: 0;
  }

  .menu-small li {
    color: #A6AAAE;
    list-style: none;
    font-size: 14px;
    line-height: 35px;
    cursor: pointer;
    padding-left: 20px;
  }

  .menu-small li a {
    color: #A6AAAE;
    width: 100%;
    display: inline-block;
    text-decoration: none;
  }

  .menu-small li a:hover {
    background-color: rgb(231, 239, 255);
    color: #000 !important;
  }

  .menu-small li:hover {
    background-color: rgb(231, 239, 255);
    color: #000 !important;
  }

  .menu-active {
    background: #188FFF;
  }

  .menu-active-color {
    color: #fff !important;
  }
</style>
<script type="text/javascript">
  (function () {
    $('.menu li').removeClass('menu-active');
    $('.menu li a').removeClass('menu-active-color');
    var menu = '<%=menu%>';
    if (menu) {
      $('.' + menu).addClass('menu-active');
      $('.' + menu + '-a').addClass('menu-active-color');
    }
  })();
</script>