body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #595959;
  font-size: 13px;
}

.main-content {
  position: absolute;
  top: 65px;
  left: 257px;
  right: 0;
  bottom: 0;
  background-color: #f2f4f5;
}

.main-fr {
  float: right;
}

.main-fl {
  float: left;
}

.main-map {
  position: absolute;
  left: 14px;
  top: 14px;
  bottom: 14px;
  right: 14px;
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

::selection {
  background: #188fff;
  color: #fff;
}

::-moz-selection {
  background: #188fff;
  color: #fff;
}

::-webkit-selection {
  background: #188fff;
  color: #fff;
}
