.header{
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  height:64px;
  background-color: #fff;
}

.header>div{
  line-height: 64px;
  margin-right:20px;
}

.fr{
  float: right;
}
.header-search{
  float: right;
}
.header-user-avatar{
  margin-right:10px;
}
.header-user-avatar>img{
  width:30px;
  border-radius: 30px;
}

.header-user{
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.header-user:hover{
  background-color: #E7F7FF;
  cursor: pointer;
}


